{% extends 'home/base.html' %}
{% block content %}
<div id="container-news">
    <div class="row">
        <div class ="col-sm-3">
            <h2>All Events</h2>
         </div>   
        </div>
        <div class ="row postrow">
      {% for event in events %}
      <div class="col-sm-3 news-index-post index-post">
          <div class="image-container">
           <a href='{% url 'event_detail' event.id %}'><img src="{{MEDIA_URL}}{{event.image}}" class="index-post-image"></img></a>
          </div>
          <div class="title-container">
           <a href='{% url 'event_detail' event.id %}'>{{ event.title }}</a>
              
          </div>
         
      </div>
      {% if forloop.counter|divisibleby:4 %}
        </div><div class="row postrow">
        {% endif %}
       {% endfor %}  
            
        </div>
       
    
</div>




{% endblock %}