{% extends 'home/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12" id="faq">
            <h3>Frequently Asked Questions</h3>
        <div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">I am interested in getting married in Saint Peter, what are the requirements?</h3>
  </div>
  <div class="panel-body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue cursus massa id malesuada. In vulputate purus vitae auctor egestas. Aenean ex eros, porttitor nec magna vel, molestie sodales mauris. Sed aliquam fringilla orci at auctor. Morbi tempor nunc quis nibh mollis condimentum ut quis lectus. Sed congue neque tellus, nec accumsan dolor interdum quis. Maecenas id sodales ex, eu ullamcorper lacus. Aenean ullamcorper tempus ipsum, ut aliquam dui euismod eu. Suspendisse a tortor non mauris tempor aliquam et a ipsum. Sed venenatis, ex quis pellentesque cursus, nunc ante luctus mauris, eget mollis magna odio vel velit. Morbi sollicitudin rhoncus tortor ut faucibus. Sed pharetra auctor ipsum, vitae fringilla magna. Maecenas fringilla odio et libero venenatis, eu vestibulum orci mattis. Nulla aliquet et lacus sed varius.
  </div>
</div> 
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">How do I obtain a Certificate of Character, reports of accidents, crime or fire from the Royal Saint Peter Police Force?</h3>
  </div>
  <div class="panel-body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue cursus massa id malesuada. In vulputate purus vitae auctor egestas. Aenean ex eros, porttitor nec magna vel, molestie sodales mauris. Sed aliquam fringilla orci at auctor. Morbi tempor nunc quis nibh mollis condimentum ut quis lectus. Sed congue neque tellus, nec accumsan dolor interdum quis. Maecenas id sodales ex, eu ullamcorper lacus. Aenean ullamcorper tempus ipsum, ut aliquam dui euismod eu. Suspendisse a tortor non mauris tempor aliquam et a ipsum. Sed venenatis, ex quis pellentesque cursus, nunc ante luctus mauris, eget mollis magna odio vel velit. Morbi sollicitudin rhoncus tortor ut faucibus. Sed pharetra auctor ipsum, vitae fringilla magna. Maecenas fringilla odio et libero venenatis, eu vestibulum orci mattis. Nulla aliquet et lacus sed varius.
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Where may I find information on the heads of departments, permanent secretaries and their contact information?</h3>
  </div>
  <div class="panel-body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue cursus massa id malesuada. In vulputate purus vitae auctor egestas. Aenean ex eros, porttitor nec magna vel, molestie sodales mauris. Sed aliquam fringilla orci at auctor. Morbi tempor nunc quis nibh mollis condimentum ut quis lectus. Sed congue neque tellus, nec accumsan dolor interdum quis. Maecenas id sodales ex, eu ullamcorper lacus. Aenean ullamcorper tempus ipsum, ut aliquam dui euismod eu. Suspendisse a tortor non mauris tempor aliquam et a ipsum. Sed venenatis, ex quis pellentesque cursus, nunc ante luctus mauris, eget mollis magna odio vel velit. Morbi sollicitudin rhoncus tortor ut faucibus. Sed pharetra auctor ipsum, vitae fringilla magna. Maecenas fringilla odio et libero venenatis, eu vestibulum orci mattis. Nulla aliquet et lacus sed varius.
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Where can I find information on the Government of Saint Peter, Ministerial Portfolios as well as Parliament?</h3>
  </div>
  <div class="panel-body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue cursus massa id malesuada. In vulputate purus vitae auctor egestas. Aenean ex eros, porttitor nec magna vel, molestie sodales mauris. Sed aliquam fringilla orci at auctor. Morbi tempor nunc quis nibh mollis condimentum ut quis lectus. Sed congue neque tellus, nec accumsan dolor interdum quis. Maecenas id sodales ex, eu ullamcorper lacus. Aenean ullamcorper tempus ipsum, ut aliquam dui euismod eu. Suspendisse a tortor non mauris tempor aliquam et a ipsum. Sed venenatis, ex quis pellentesque cursus, nunc ante luctus mauris, eget mollis magna odio vel velit. Morbi sollicitudin rhoncus tortor ut faucibus. Sed pharetra auctor ipsum, vitae fringilla magna. Maecenas fringilla odio et libero venenatis, eu vestibulum orci mattis. Nulla aliquet et lacus sed varius.
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Where can I find information on scholarships?</h3>
  </div>
  <div class="panel-body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue cursus massa id malesuada. In vulputate purus vitae auctor egestas. Aenean ex eros, porttitor nec magna vel, molestie sodales mauris. Sed aliquam fringilla orci at auctor. Morbi tempor nunc quis nibh mollis condimentum ut quis lectus. Sed congue neque tellus, nec accumsan dolor interdum quis. Maecenas id sodales ex, eu ullamcorper lacus. Aenean ullamcorper tempus ipsum, ut aliquam dui euismod eu. Suspendisse a tortor non mauris tempor aliquam et a ipsum. Sed venenatis, ex quis pellentesque cursus, nunc ante luctus mauris, eget mollis magna odio vel velit. Morbi sollicitudin rhoncus tortor ut faucibus. Sed pharetra auctor ipsum, vitae fringilla magna. Maecenas fringilla odio et libero venenatis, eu vestibulum orci mattis. Nulla aliquet et lacus sed varius.
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Where can I find information about embassies and consulates in Saint Peter as well as Saint Peter’s missions abroad?</h3>
  </div>
  <div class="panel-body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue cursus massa id malesuada. In vulputate purus vitae auctor egestas. Aenean ex eros, porttitor nec magna vel, molestie sodales mauris. Sed aliquam fringilla orci at auctor. Morbi tempor nunc quis nibh mollis condimentum ut quis lectus. Sed congue neque tellus, nec accumsan dolor interdum quis. Maecenas id sodales ex, eu ullamcorper lacus. Aenean ullamcorper tempus ipsum, ut aliquam dui euismod eu. Suspendisse a tortor non mauris tempor aliquam et a ipsum. Sed venenatis, ex quis pellentesque cursus, nunc ante luctus mauris, eget mollis magna odio vel velit. Morbi sollicitudin rhoncus tortor ut faucibus. Sed pharetra auctor ipsum, vitae fringilla magna. Maecenas fringilla odio et libero venenatis, eu vestibulum orci mattis. Nulla aliquet et lacus sed varius.
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Where would I find information on birth, marriage and death certificates?</h3>
  </div>
  <div class="panel-body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue cursus massa id malesuada. In vulputate purus vitae auctor egestas. Aenean ex eros, porttitor nec magna vel, molestie sodales mauris. Sed aliquam fringilla orci at auctor. Morbi tempor nunc quis nibh mollis condimentum ut quis lectus. Sed congue neque tellus, nec accumsan dolor interdum quis. Maecenas id sodales ex, eu ullamcorper lacus. Aenean ullamcorper tempus ipsum, ut aliquam dui euismod eu. Suspendisse a tortor non mauris tempor aliquam et a ipsum. Sed venenatis, ex quis pellentesque cursus, nunc ante luctus mauris, eget mollis magna odio vel velit. Morbi sollicitudin rhoncus tortor ut faucibus. Sed pharetra auctor ipsum, vitae fringilla magna. Maecenas fringilla odio et libero venenatis, eu vestibulum orci mattis. Nulla aliquet et lacus sed varius.
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">How do I apply for a post in the public sector?</h3>
  </div>
  <div class="panel-body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue cursus massa id malesuada. In vulputate purus vitae auctor egestas. Aenean ex eros, porttitor nec magna vel, molestie sodales mauris. Sed aliquam fringilla orci at auctor. Morbi tempor nunc quis nibh mollis condimentum ut quis lectus. Sed congue neque tellus, nec accumsan dolor interdum quis. Maecenas id sodales ex, eu ullamcorper lacus. Aenean ullamcorper tempus ipsum, ut aliquam dui euismod eu. Suspendisse a tortor non mauris tempor aliquam et a ipsum. Sed venenatis, ex quis pellentesque cursus, nunc ante luctus mauris, eget mollis magna odio vel velit. Morbi sollicitudin rhoncus tortor ut faucibus. Sed pharetra auctor ipsum, vitae fringilla magna. Maecenas fringilla odio et libero venenatis, eu vestibulum orci mattis. Nulla aliquet et lacus sed varius.
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Where can I find information on travel documents, residency status, student visas, and work permits?</h3>
  </div>
  <div class="panel-body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue cursus massa id malesuada. In vulputate purus vitae auctor egestas. Aenean ex eros, porttitor nec magna vel, molestie sodales mauris. Sed aliquam fringilla orci at auctor. Morbi tempor nunc quis nibh mollis condimentum ut quis lectus. Sed congue neque tellus, nec accumsan dolor interdum quis. Maecenas id sodales ex, eu ullamcorper lacus. Aenean ullamcorper tempus ipsum, ut aliquam dui euismod eu. Suspendisse a tortor non mauris tempor aliquam et a ipsum. Sed venenatis, ex quis pellentesque cursus, nunc ante luctus mauris, eget mollis magna odio vel velit. Morbi sollicitudin rhoncus tortor ut faucibus. Sed pharetra auctor ipsum, vitae fringilla magna. Maecenas fringilla odio et libero venenatis, eu vestibulum orci mattis. Nulla aliquet et lacus sed varius.
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">How do I make an appointment for a Saint Peter passport?</h3>
  </div>
  <div class="panel-body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue cursus massa id malesuada. In vulputate purus vitae auctor egestas. Aenean ex eros, porttitor nec magna vel, molestie sodales mauris. Sed aliquam fringilla orci at auctor. Morbi tempor nunc quis nibh mollis condimentum ut quis lectus. Sed congue neque tellus, nec accumsan dolor interdum quis. Maecenas id sodales ex, eu ullamcorper lacus. Aenean ullamcorper tempus ipsum, ut aliquam dui euismod eu. Suspendisse a tortor non mauris tempor aliquam et a ipsum. Sed venenatis, ex quis pellentesque cursus, nunc ante luctus mauris, eget mollis magna odio vel velit. Morbi sollicitudin rhoncus tortor ut faucibus. Sed pharetra auctor ipsum, vitae fringilla magna. Maecenas fringilla odio et libero venenatis, eu vestibulum orci mattis. Nulla aliquet et lacus sed varius.
  </div>
</div>
        </div>
    </div>
</div>





{% endblock %}