//VARIABLES
@main-color:rgba(65,105,225,1);
@secondary-color:rgba(225,185,65,1);
@tertiary-color:white;
@tertiary-color-2:rgba(44,51,57,1);
//UASAGE

#nav1{
    background-color: @main-color;
    border-radius:0;
    border:none;
    min-height:32px;
   .navbar-left{
       padding-top: 5px;
       color:black;
       font-size:12px
   }
margin-bottom:0px   
}
.seperator{
    padding-right:5px;
    padding-left:5px;
}

.social{
    font-size:30px;
    color:@secondary-color;
    .seperator
}

#nav2{
    background-color:@tertiary-color;
    border-radius:0;
    border:none;
    border-bottom:1px solid lightgrey;
    min-height:10vh;
    li{
       padding-top: 25px;
       a{
           font-size: 20px
       }
      
   }
margin-bottom:0px   
}

#brand{
        color:black;
        font-size:20px;
        padding-top: 10px;
    }
    
#brand-image{
    height:100px;
    width:100px;
}    
    
#search-bar{
   text-align: center;
    background-color: @secondary-color;
    height:15vh;
    font-family: 'Neuton', serif;
     letter-spacing: 1.5px;
   
}
#search-field{
    width:700px;
    margin-top: 10px;
    height:50px;
    font-size: 25px;
}

.search-icon{
    font-size: 30px;
}
#container1{
    margin-right: 150px;
    margin-left:150px;
}

.index-post{
    height:auto;
    width:auto;
    padding-right:0px;
    padding-left:0px;
    
    border:1px solid beige;
    margin-bottom: 20px;
    margin-right: 40px;
    margin-left:20px;
    font-family: 'Montserrat', sans-serif;
    font-size:20px
}
.index-post-image{
    width:300px;
    height:300px;
    
}
.title-container{
    
    width:300px;
    height:100px;
    display:flex;
    justify-content:center;
    align-items:center;
    
}

footer{
    height:50vh;
    background-color: @main-color;
}

.index-button{
    height:50px;
    width:150px;
    background-color: @main-color;
    color:@tertiary-color;
    margin-bottom: 20px
}

#container2-container{
    background-color: @tertiary-color-2;
    color:@tertiary-color;
    
}

#container2{
    #container1
}