//VARIABLES
@main-color:rgba(65,105,225,1);
@secondary-color:rgba(225,185,65,1);
@tertiary-color:white;
@tertiary-color-2:rgba(44,51,57,1);

//BASE STYLES
h2{
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 15px;
}

#buffer{
    margin-top: 140px
}


#nav1{
    background-color: @main-color;
    border-radius:0;
    border:none;
    min-height:32px;
   .navbar-left{
       padding-top: 5px;
       color:black;
       font-size:12px;
      
   }
margin-bottom:0px   
}
.seperator{
    padding-right:5px;
    padding-left:5px;
}

.social{
    font-size:30px;
    color:@secondary-color;
    .seperator
}

#nav2{
    background-color:@tertiary-color;
    border-radius:0;
    border:none;
    border-bottom:1px solid lightgrey;
    min-height:10vh;
    li{
       padding-top: 25px;
       a{
           font-size: 20px;
           font-family: 'Quicksand', sans-serif;
           color:black;
       }
      
   }
margin-bottom:0px   
}

#brand{
        color:black;
        font-size:20px;
        padding-top: 10px;
    }
    
#brand-image{
    height:100px;
    width:100px;
}   
footer{
    height:50vh;
    background-color: @main-color;
}
//INDEX PAGE STYLES    
#search-bar{
   text-align: center;
    background-color: @secondary-color;
    height:15vh;
    font-family: 'Neuton', serif;
     letter-spacing: 1.5px;
   
}
#search-field{
    width:700px;
    margin-top: 10px;
    height:50px;
    font-size: 25px;
}

.search-icon{
    font-size: 30px;
}
#container1{
    margin-right: 150px;
    margin-left:150px;
  
}

.index-post{
    height:auto;
    width:auto;
    padding-right:0px;
    padding-left:0px;
    
    border:1px solid grey;
    margin-bottom: 20px;
    margin-right: 40px;
    margin-left:20px;
    font-family: 'Montserrat', sans-serif;
    font-size:20px
}
.index-post-image{
    width:300px;
    height:300px;
    
}
.title-container{
    
    width:300px;
    height:100px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-top:1px solid grey;
    
}



.index-button{
    height:50px;
    width:150px;
    background-color: @main-color;
    color:@tertiary-color;
    margin-bottom: 20px;
    border:none;
}

#container2-container{
    background-color: @tertiary-color-2;
    color:@tertiary-color;
    
}

#container2{
    #container1
}

//CONTACT PAGE
.contact-div{
    border-right:1px solid grey;
}

//MEDIA QUERIES
//SMARTPHONE
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
#nav1{
    text-align: center;
    li{
        display:inline;
        
    }
    .navbar-right{
        display:none;
    }
    
}
#brand-image{
    width:50px;
    height:50px;
}
#search-bar{

    height:17vh;
   
   
}
#search-field{
    width:300px;
    margin-top: 5px;
    margin-bottom: 5px;
    height:40px;
    font-size: 25px;
}

.search-icon{
    font-size: 20px;
}
#container1{
    margin-right: 25px;
    margin-left:25px;
    
  
}
.index-post{
    height:auto;
    width:253px;
    padding-right:0px;
    padding-left:0px;
    
    border:1px solid grey;
    margin-bottom: 20px;
    margin-right: 40px;
    margin-left:20px;
    font-family: 'Montserrat', sans-serif;
    font-size:10px
}
.index-post-image{
    width:250px;
    height:250px;
    
}
.title-container{
    
    width:250px;
    height:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-top:1px solid grey;
    
}
.postrow{
    margin-left: 20px;
}

h2{
    text-align: center;
}


}


